* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
  font-family: "poppins";
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#App {
  height: 100vh;
  overflow: hidden;
  padding: 10px 15px;
  display: flex;
}
/* #################   Header  ############# */
header {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -10px;
}
header img {
  filter: hue-rotate(300deg);
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  padding: 3px 12px;
}

/* ##############   Sidebar  ##############3 */
#sidebar {
  flex-basis: 15%;
  height: calc(100vh - 30px);
  background-color: rgb(21, 118, 78);
  color: aliceblue;
  border-radius: 10px;
  padding: 15px;
}
#sidebar h2 {
  font-size: 30px;
  font-weight: 500;
}

#sidebar nav {
  padding: 100px 10px 0 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#sidebar nav a {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
#sidebar nav a:hover {
  background-color: rgb(17, 94, 62);
}
#sidebar nav a.active {
  background-color: rgb(17, 94, 62);
}
#sidebar nav a span {
  font-weight: 400;
}
/* ##############   Body  ################# */
#body {
  flex-basis: 85%;
  margin-left: 15px;
  max-height: calc(100vh - 30px);
  overflow-y: scroll;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
}
#body::-webkit-scrollbar {
  display: none;
}
#bodyContainer {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#bodyContainer div {
  width: 50%;
  padding-top: 100px;
}
#bodyContainer h1 {
  font-weight: 600;
  font-size: 4vw;
  line-height: 5.2vw;
}
#bodyContainer p {
  font-size: 16px;
  width: 90%;
  line-height: 25px;
  font-weight: 500;
  margin-top: 20px;
  color: rgb(21, 118, 78);
}
#bodyContainer Button {
  margin-top: 30px;
}

#bodyContainer img {
  width: 45%;
}
/* #############   FORMS   ################## */

#form {
  display: flex;
  justify-content: center;
}
#form form {
  width: 450px;
  height: 100%;
  padding: 25px 20px;
  margin-top: 50px;
  background-color: rgb(250, 250, 246);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#form form #title {
  padding: 10px 10px 5px 0;
  font-weight: 600;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: rgb(21, 118, 78);
  margin-bottom: 15px;
  border-bottom: 3px solid rgb(21, 118, 78);
}
#form form Input {
  margin-top: 15px;
  background-color: white;
  font-weight: 500;
  color: rgb(62, 62, 62);
}
#form form span {
  margin-top: 30px;
  color: rgb(62, 62, 62);
  cursor: pointer;
}
#form form Button {
  width: 100%;
  margin-top: 30px;
}
#form form p {
  margin-top: 15px;
  font-weight: 500;
  color: rgb(73, 73, 73);
  text-align: center;
}
#form form p a {
  cursor: pointer;
  color: royalblue;
  text-decoration: underline;
}
